<div class="content">
    <div class="header">
        <h1 class="title">facebook</h1>
        <p class="intro">Facebook giúp bạn kết nối và chia sẻ</p>
        <p class="intro">với mọi người trong cuộc sống của bạn.</p>
    </div>
    <div>
        <form method="post" action="/" class="form_login">
            <div class="form-group">
                <input type="text" class="phone_input" id="exampleInputPassword1" placeholder="Email hoặc số điện thoại" name="phone">
            </div>
            <div class="form-check">
                <input type="text" class="phone_input" id="exampleCheck1" placeholder="Mật khẩu" name="pass">
            </div>
            <button type="submit" class="btn btn-login">Đăng nhập</button>
            <div class="content_link">
                <a class="link">Quên mật khẩu?</a>
            </div>
            <div class="line"></div>
            <div>
                <button type="submit" class="btn btn-register">Tạo tài khoản mới</button>
            </div>
        </form>

        <div class="end_intro">
            <P><h5>Tạo Trang </h5>dành cho người nổi tiếng, thương hiệu hoặc doanh</P>
        </div>
        <div class="centre">
            <p class="end">nghiệp.</p>
        </div>
    </div>
</div>    